<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <header>
        <h1>Achados e Perdidos - IFRN</h1>
    </header>

    <nav>
        <a href="#">Eletrônicos</a>
        <a href="#">Roupas</a>
        <a href="#">Acessórios</a>
        <a href="#">Documentos</a>
    </nav>

    <div class="container">
        <h2>Perdeu algum objeto no campus?</h2>
        <p>Verifique se ele foi encontrado no nosso site de achados e perdidos!</p>
        <a href="tela_login.html" class="button">Entrar</a>
        <a href="tela_itens.html" class="button">Ver Objetos</a>
    </div>

    <footer>
        <p>Desenvolvido por alunos do IFRN</p>
        <a href="https://portal.ifrn.edu.br" style="color: #4caf50;">Portal IFRN</a>
    </footer>
</body>
</html>