<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos - Detalhes do Item</title>
    <link rel="stylesheet" type="text/css" href="/static/detalhes.css">
    <style></style>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'index' %}"><img src="https://tse2.mm.bing.net/th?id=OIP.TFy91zo60akkYWU2G-l5EgAAAA&rs=1&pid=ImgDetMain" alt="Logo IFRN" class="logo"></a>
            <h1>Achados e Perdidos</h1>
        </div>
    </header>

    <nav>
        <a href="#">Eletrônicos</a>
        <a href="#">Roupas</a>
        <a href="#">Acessórios</a>
        <a href="#">Documentos</a>
    </nav>

    <main>
        <h1>Celular</h1>
        <img src="https://th.bing.com/th/id/OIP.lxiBbn0RbZQJ-NIDBM-QngHaH1?pid=ImgDet&w=1135&h=1200&rs=1" alt="Celular">
        
        <div class="details-container">
            <h2>Descrição:</h2>
            <p>Celular da marca Motorola, modelo MOTO G.</p>
            
            <h2>Detalhes:</h2>
            <p><strong>Sala:</strong> 71</p>
            <p><strong>Data:</strong> 19/01/2023</p>
            <p><strong>Horário:</strong> 15:37</p>
            
            <h2>Tipo:</h2>
            <p>Eletrônico</p>
        </div>

        <div class="buttons-container">
            <a href="#" class="button">Resgatar item</a>
            <a href="administração_pag/adm_cadastro.html" class="button">Cadastrar item</a>
        </div>
    </main>

    <footer>
        <p>Desenvolvido por alunos do IFRN</p>
        <a href="https://portal.ifrn.edu.br" style="color: #4caf50;">Portal IFRN</a>
    </footer>
</body>
</html>