<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos</title>
    <link rel="stylesheet" href="/static/login.css">
    <style></style>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'index' %}"><img src="https://tse2.mm.bing.net/th?id=OIP.TFy91zo60akkYWU2G-l5EgAAAA&rs=1&pid=ImgDetMain" alt="Logo IFRN" class="logo"></a>
            <h1>Achados e Perdidos - IFRN</h1>
        </div>
    </header>


    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" name="email" required><br>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" required><br>
                <button class= btn-login type="submit">Login</button>
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
            </form>
            <button class= "btn-login" onclick="window.location.href='{% url 'cadastrar' %}'">Cadastrar-se</button>
        </div>
        <div class="quote">
            <h1>Há pessoas que nos roubam...<br>Há pessoas que nos devolvem.</h1>
        </div>
    </div>

</body>
</html>