<!-- Tela de itens -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de itens</title>
    <link rel="stylesheet" href="/static/itens.css">
    <style></style>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'index' %}"><img src="https://tse2.mm.bing.net/th?id=OIP.TFy91zo60akkYWU2G-l5EgAAAA&rs=1&pid=ImgDetMain" alt="Logo IFRN" class="logo"></a>
            <h1>Achados e Perdidos</h1>
        </div>
    </header>

    <nav>
        <a href="#">Eletrônicos</a>
        <a href="#">Roupas</a>
        <a href="#">Acessórios</a>
        <a href="#">Documentos</a>
    </nav>

    <div class="container">
        <h2>Itens Encontrados</h2>
        <p>Confira os itens mais recentes encontrados no campus:</p>

        <div class="gallery">
            <div class="gallery-item">
                <a href="{% url 'detalhes' %}">
                    <img src="https://th.bing.com/th/id/OIP.lxiBbn0RbZQJ-NIDBM-QngHaH1?pid=ImgDet&w=1135&h=1200&rs=1" alt="Celular">
                    <div class="info">
                        <h3>Celular</h3>
                        <p>Data: 27/12/2024</p>
                        <p>Hora: 14:35</p>
                    </div>
                </a>
            </div>

            <div class="gallery-item">
                <a href="detalhes_moletom.html">
                    <img src="https://th.bing.com/th/id/OIP.2JdIhn5IvgXJQUXzTWN9VAHaHa?w=626&h=626&rs=1&pid=ImgDetMain" alt="Moletom">
                    <div class="info">
                        <h3>Moletom</h3>
                        <p>Data: 26/12/2024</p>
                        <p>Hora: 10:15</p>
                    </div>
                </a>
            </div>

            <div class="gallery-item">
                <a href="detalhes_fone.html">
                    <img src="https://down-br.img.susercontent.com/file/sg-11134201-7qvep-li6t68kvj8ztfb" alt="Fone de Ouvido">
                    <div class="info">
                        <h3>Fone de Ouvido</h3>
                        <p>Data: 25/12/2024</p>
                        <p>Hora: 16:00</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <p>Desenvolvido por alunos do IFRN</p>
        <a href="https://portal.ifrn.edu.br" style="color: #4caf50;">Portal IFRN</a>
    </footer>
</body>
</html>


<!-- END -->