<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos</title>
    <link rel="stylesheet" href="/static/login.css">
    <style></style>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'index' %}"><img src="https://tse2.mm.bing.net/th?id=OIP.TFy91zo60akkYWU2G-l5EgAAAA&rs=1&pid=ImgDetMain" alt="Logo IFRN" class="logo"></a>
            <h1>Achados e Perdidos - IFRN</h1>
        </div>
    </header>

    <nav>
        <a href="#">Eletrônicos !!!</a>
        <a href="#">Roupas</a>
        <a href="#">Acessórios</a>
        <a href="#">Documentos</a>
    </nav>

    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form method="POST" action="/tela_perfil.html/">
                {% csrf_token %}
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario" name="login" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                </div>
                <button type="submit" class="btn-login">Entrar</button>
                <button type="button" class="btn-login" onclick="window.location.href='tela_cadastro.html'">Cadastrar</button>
            </form>
        </div>
        <div class="quote">
            <h1>Há pessoas que nos roubam...<br>Há pessoas que nos devolvem.</h1>
        </div>
    </div>

    <footer>
        <p>Desenvolvido por alunos do IFRN</p>
        <a href="https://portal.ifrn.edu.br" style="color: #4caf50;">Portal IFRN</a>
    </footer>
</body>
</html>
