<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos</title>
    <link rel="stylesheet" href="/static/cadastro.css">
    <style></style>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'index' %}"><img src="https://tse2.mm.bing.net/th?id=OIP.TFy91zo60akkYWU2G-l5EgAAAA&rs=1&pid=ImgDetMain" alt="Logo IFRN" class="logo" style="width: 50px; height: auto; margin-right: 1rem; border-radius: 8px;"></a>
            <h1>Achados e Perdidos</h1>
        </div>
    </header>


    <div class="form-container">
        <h1>Crie sua conta</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class= "form-button" type="submit">Cadastrar</button>
        </form>        
        <div class="form-footer">
            <p>Já tem uma conta? <a href="{% url 'login' %}">Fazer login</a></p>
        </div>
    </div>


</body>
</html>